<div class="list-group list-news">
  <div *ngIf="items?.length > 0">
    <template ngFor let-subitem [ngForOf]="items" let-k="index">
      <md-card>
        <md-card-header>
          <md-card-title class="emotion-news-title">{{subitem.title}}</md-card-title>
          <md-card-subtitle class="emotion-news-subtitle">{{subitem.timestamp}}</md-card-subtitle>
        </md-card-header>
        <img class="emotion-news-image" md-card-image src="{{subitem.img}}">
        <md-card-content>
          <p class="emotion-news-description">
            {{subitem.text}}
          </p>
        </md-card-content>
      </md-card>
    </template>
  </div>
  <div class="text-md-center" *ngIf="items?.length == 0">
    No Result
  </div>
</div>

