/** latest tweet */

.list-news {
    padding-right: 10px;
    background: transparent;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

.list-news:after {
    display: block;
    content: "";
    clear: both;
}

.list-news .list-group-item {
    padding: 10px 0;
    background: transparent;
    border-left: none;
    border-right: none;
    border-color: #ddd;
    display: table;
    cursor: pointer;
}

.list-news > span:first-of-type{
    border-top: none;
}
.list-news > span:last-of-type{
    border-bottom: none;
}
.list-news .list-group-item h4 {
    font-size: 15px;
    margin: 0 0 5px;
}
.list-news .list-group-item .list-news-img {
    background-position: center center;
    background-size: cover;
    float: left;
    height: 80px;
    margin: 3px 8px 5px 0;
    width: 40%;
}
.list-news .list-group-item span {
    display: block;
}
.list-news .list-group-item span.label {
    display: inline;
    margin: 0;
    width: auto;
}

.list-tweets .list-group-item .content-tweet{
    padding-left: 58px;
}
.list-tweets .list-group-item .content-tweet .profile-picture,
.list-tweets .list-group-item .content-tweet .profile-picture-default{
    width: 48px;
    height: 48px;
}
.list-tweets .list-group-item .content-tweet > a{
    color: #263238;
}
.list-tweets .list-group-item .content-tweet > a:hover{
    text-decoration: none;
}
.list-tweets .list-group-item .content-tweet > a:hover > strong{
    text-decoration: underline;
}
.list-tweets .list-group-item .content-tweet > a > img{
    float: left;
    margin-left: -58px;
    border-radius: 5px;
}
.list-tweets .list-group-item .content-tweet > p{
    margin-bottom: 5px;
    color: #263238;
}
.list-tweets .list-group-item .content-tweet [class^=tweet-image]:before,
.list-tweets .list-group-item .content-tweet [class^=tweet-image]:after{
    display: block;
    content: " ";
    clear: both;
}
.list-tweets .list-group-item .content-tweet .post-date{
    white-space: nowrap;
    font-size: .9em;
}
.list-tweets .list-group-item .content-tweet .source .media .fa{
    font-size: 1.2em;
    cursor: default;
}
.list-tweets .list-group-item .content-tweet .source{
    font-size: 0.9em;
    margin: 5px 0 0;
    color: #666;
}
.list-tweets .list-group-item .content-tweet .source .fa-retweet{
    color: #5C913B;
}
.list-tweets .list-group-item .content-tweet .text-muted{
    color: #666;
}

.box-img {
    float: left;
    width: 38%;
    height: 75px;
    margin: 3px 8px 5px 0px;
    background-size: cover;
    background-position: center;
}


/*NEWS EMOTION*/
#list-emotion-news {
	width: 330px;
	height: 450px; 
}

.list-item-emotion-news {
	width: 300px;
	border-bottom: 2px solid #e1e1e1;
	padding: 15px 15px 15px 0px !important;
	box-shadow: none !important; 
}

.title-widget-emotion-news {
	padding: 5px 5px 5px 0px;
	color: #ff2e2e;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	border-bottom: 3px solid #ff2e2e;
	width: 190px;
	margin-bottom: 10px;
}


.column-emotion-news {
	float:left;
	position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.emotion {
	background: #ff2e2e;
	color: #fff;
	width: 60px;
	padding: 5px;
	margin-bottom: 10px;
}

.emotion-news-title {
	font-weight: bold;
}

.emotion-news-subtitle {
	font-size: 12px;
}

.emotion-news-image {
	float: left;
	width: 125px !important;
	height: 75px !important;
	margin-right: 20px;
}