<div class="col-md-12">
  <div [swiper]="configHDetail" class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="wrapper-emotion-news" *ngFor="let item of newsDependDetail; let ind = index">
          <streaming-action-news [topicId]="item.tid" [streamNewsData]="streaming_data[item.tid]"></streaming-action-news>
      </div>
    </div>
    <div *ngIf="newsDependDetail?.length > 3" class="swiper-button-next"></div>
    <div *ngIf="newsDependDetail?.length > 3" class="swiper-button-prev"></div>
  </div>
</div>
