streaming-action-news {
  height: 255px;
  display: block;
}

@media (min-width: 375px) and (max-width:425px) {
  .btn {
    padding: 0.5rem 4px;
  }
  .btn-sm {
    padding: 2px 4px;
    font-size: 40%;
    line-height: 1;
  }
}

@media (min-width: 426px) and (max-width: 768) {
  .btn {
    padding: 0.5rem 4px;
  }
  .btn-sm {
    padding: 2px 4px;
    font-size: 40%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .btn {
    padding: 0.5rem 5px;
  }
  .btn-sm {
    padding: 2px 5px;
    font-size: 55%;
    line-height: 1.2;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .btn {
    padding: 0.5rem 5px;
  }
  .btn-sm {
    padding: 2px 5px;
    font-size: 75%;
    line-height: 1.2;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  .btn {
    padding: 0.5rem 9px;
  }
  .btn-sm {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.swiper-slide {
  text-align: center;
  font-size: 1.0em;
  background: #fff;
  height: 450px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-v {
  background: #eee;
  height: 90%
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect h2 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 0.875em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}


